<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="img1" loading="lazy" [defaultImage]="defaultImage" [lazyLoad]="'assets/img/1.jpg'">
            <div class="bottom-pop">
                <div class="bt-pop-inner-div">
                    <div class="div-left"> Amara Villa </div>
                    <div class="div-right"> Per Night </div>
                </div>
                <div class="bt-pop-inner-div">
                    <div class="div-left">  Alibaug, Maharashtra  </div>
                    <div class="div-right"> ₹ 67,000 </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="img1" loading="lazy" [defaultImage]="defaultImage" [lazyLoad]="'assets/img/2.webp'">
            <div class="bottom-pop">
                <div class="bt-pop-inner-div">
                    <div class="div-left"> Amara Villa </div>
                    <div class="div-right"> Per Night </div>
                </div>
                <div class="bt-pop-inner-div">
                    <div class="div-left">  Alibaug, Maharashtra  </div>
                    <div class="div-right"> ₹ 67,000 </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="img1" loading="lazy" [defaultImage]="defaultImage" [lazyLoad]="'assets/img/3.jpg'">
            <div class="bottom-pop">
                <div class="bt-pop-inner-div">
                    <div class="div-left"> Amara Villa </div>
                    <div class="div-right"> Per Night </div>
                </div>
                <div class="bt-pop-inner-div">
                    <div class="div-left">  Alibaug, Maharashtra  </div>
                    <div class="div-right"> ₹ 67,000 </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top:30px">
    <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="img1" loading="lazy" [defaultImage]="defaultImage" [lazyLoad]="'assets/img/4.webp'">
            <div class="bottom-pop">
                <div class="bt-pop-inner-div">
                    <div class="div-left"> Amara Villa </div>
                    <div class="div-right"> Per Night </div>
                </div>
                <div class="bt-pop-inner-div">
                    <div class="div-left">  Alibaug, Maharashtra  </div>
                    <div class="div-right"> ₹ 67,000 </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="img1" loading="lazy" [defaultImage]="defaultImage" [lazyLoad]="'assets/img/5.webp'">
            <div class="bottom-pop">
                <div class="bt-pop-inner-div">
                    <div class="div-left"> Amara Villa </div>
                    <div class="div-right"> Per Night </div>
                </div>
                <div class="bt-pop-inner-div">
                    <div class="div-left">  Alibaug, Maharashtra  </div>
                    <div class="div-right"> ₹ 67,000 </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="img1" loading="lazy" [defaultImage]="defaultImage" [lazyLoad]="'https://img.vistarooms.com/gallery/amara-villa-6b8218.jpg'">
            <div class="bottom-pop">
                <div class="bt-pop-inner-div">
                    <div class="div-left"> Amara Villa </div>
                    <div class="div-right"> Per Night </div>
                </div>
                <div class="bt-pop-inner-div">
                    <div class="div-left">  Alibaug, Maharashtra  </div>
                    <div class="div-right"> ₹ 67,000 </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top:30px">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="img1" loading="lazy" [defaultImage]="defaultImage" [lazyLoad]="'assets/img/1.jpg'">
            <div class="bottom-pop">
                <div class="bt-pop-inner-div">
                    <div class="div-left"> Amara Villa </div>
                    <div class="div-right"> Per Night </div>
                </div>
                <div class="bt-pop-inner-div">
                    <div class="div-left">  Alibaug, Maharashtra  </div>
                    <div class="div-right"> ₹ 67,000 </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="img1" loading="lazy" [defaultImage]="defaultImage" [lazyLoad]="'assets/img/2.webp'">
            <div class="bottom-pop">
                <div class="bt-pop-inner-div">
                    <div class="div-left"> Amara Villa </div>
                    <div class="div-right"> Per Night </div>
                </div>
                <div class="bt-pop-inner-div">
                    <div class="div-left">  Alibaug, Maharashtra  </div>
                    <div class="div-right"> ₹ 67,000 </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="img1" loading="lazy" [defaultImage]="defaultImage" [lazyLoad]="'assets/img/3.jpg'">
            <div class="bottom-pop">
                <div class="bt-pop-inner-div">
                    <div class="div-left"> Amara Villa </div>
                    <div class="div-right"> Per Night </div>
                </div>
                <div class="bt-pop-inner-div">
                    <div class="div-left">  Alibaug, Maharashtra  </div>
                    <div class="div-right"> ₹ 67,000 </div>
                </div>
            </div>
        </div>
    </div>
</div>