<div class="vmain">
<h2 class="title">Why Choose Vista For Your Ideal Getaway</h2>
<div class="row icon">
    <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12">
        <div class="vista-sec">
        <img [defaultImage]="defaultImage" [lazyLoad]="'assets/img/vs1.svg'"/>
        <p>Only 1 in 50 homes are accepted</p>
        </div>
    </div>
    <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12">
        <div class="vista-sec">
        <img [defaultImage]="defaultImage" [lazyLoad]="'assets/img/vs2.svg'"/>
        <p>500+ Handpicked homes across India</p>
        </div>
    </div>
    <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12">
        <div class="vista-sec">
        <img [defaultImage]="defaultImage" [lazyLoad]="'assets/img/vs3.svg'"/>
        <p>Hosted over 250,000+ happy guests</p>
        </div>
    </div>
    <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12">
        <div class="vista-sec">
        <img [defaultImage]="defaultImage" [lazyLoad]="'assets/img/vs4.svg'"/>
        <p>Homes are regularly audited for 200+ factors</p>
        </div>
    </div>
    <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12">
        <div class="vista-sec">
        <img [defaultImage]="defaultImage" [lazyLoad]="'assets/img/vs5.svg'"/>
        <p>We empower the local community</p>
        </div>
    </div>
</div>
</div>